



/*

flourescent blue: 
rgb(10,184,178);

frussian blue: 
rgb(0,49,83);

whitesmoke: 
rgb(245, 245, 245);

*/


/*

oxford blue: 002147
blue-tint: 248AFF
blue-shade: 001329
tone: 242424
white: E0EEFF
black: 00050A

analogous: 00473E
split complementary-1: 470E00
split complementary-2: 473E00
*/



/* ~~~~~ Primary Colors ~~~~~ */

$c-darkblue: rgb(0,49,83);
$c-lightblue: rgb(10,184,178);


/* ~~~~~ Monotones ~~~~~ */

$c-white: rgb(235, 235, 235);
$c-black: rgb(0,0,0);
$c-grey: rgb(55,55,55);




/* ~~~~~ ~~~~~ */
/* ~~~~~ ~~~~~ */
/* ~~~~~ ~~~~~ */
